<nav class="ui stackable menu">
    <header class="ui header item">
        <a href="/"><i class="icon dashboard"></i> Blindee Web</a>
    </header>
    <a href="/" id="home" class="item">Home</a>
    <a href="/timers/" id="timers" class="item">Timers</a>
</nav>

<script>
    $('#{{ id }}').addClass('active item');
</script>
